<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{url_for('static', filename='meu_logo_re.ico')}}" type="image/x-icon">
    <title>Contato</title>
    <style>
            a {
                text-decoration: none;
    </style>
</head>
<body>
    <nav>
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/contacts">contatos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/Introdução">introdução</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/Parágrafos">Parágrafos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/Simbolos e emojis">Simbolos e emojis</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/static">static</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/favorito">favorito</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/títulos">títulos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/Formatação">Formatação</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/Marcação de texto">Marcação de texto</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/outras formatações">Outras formatações</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/Listas">Listas</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://aprendendohtmlecss-adc477ce76a8.herokuapp.com/Links">Links</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </nav>
    <p>Contato</p>
</body>
</html>