<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{url_for('static', filename='meu_logo_re.ico')}}" type="image/x-icon">
    <title>Simbolos e emojis</title>
    <style>
            a {
                text-decoration: none;
    </style>
</head>
<body>
    <p>
        <a href="http://127.0.0.1:5000/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/contacts">contatos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Introdução">introdução</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Parágrafos">Parágrafos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Simbolos e emojis">Simbolos e emojis</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/static">static</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/favorito">favorito</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/títulos">títulos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Formatação">Formatação</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Marcação de texto">Marcação de texto</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/outras formatações">Outras formatações</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Listas">Listas</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Links">Links</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <h1>Simbolos e emojis</h1>
    <hr>
    <h3>Vamos aprender a colocar símbolos e emojis nesse arquivo</h3>
    <p>Marca registrada --> &reg;
        <br>
        Copyrigth --> &copy;
        <br>
        Trade Mark ( que é marca registrada em inglês) --> &trade;
        <br>
        Dolar --> &dollar;
        <br>
        Euro --> &euro;
        <br>
        Pound --> &pound;
        <br>
        Yen --> &yen;
        <br>
        Centavo --> &cent;
    </p>
<!-- Podemos fazer qualquer tipo de símbolo, um exemplo é o delta de operações físicas-->
    <p>
        Delta --> &Delta;
        <br>
        Seta para cima --> &uparrow;
        <br>
        Seta para baixo --> &downarrow;
        <br>
        Seta para esquerda --> &leftarrow;
        <br>
        Seta para direita --> &rightarrow;
    </p>
    <!-- EMOJIS -->
    <p>
        Para colocar emojis em sites podemos consultar o site
        <a href="https://emojipedia.org/"target="_blank">emojipedia</a>
        vá nas especificações técnicas e pegue o cóigo que vem depois de U+
        <br>
        Funciona se copiar direto o emoji
        <br>
        Exemplo 😁
        <br>
        Mas funcniona também se usar pelo código do emoji
        <br>
        Exemplo &rightarrow; &#x1F62C
    </p>
</body>
</html>