<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{url_for('static', filename='meu_logo_re.ico')}}" type="image/x-icon">
    <title>Títulos</title>
    <style>
            a {
                text-decoration: none;
    </style>
</head>
<body>
    <p>
        <a href="http://127.0.0.1:5000/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/contacts">contatos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Introdução">introdução</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Parágrafos">Parágrafos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Simbolos e emojis">Simbolos e emojis</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/static">static</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/favorito">favorito</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/títulos">títulos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Formatação">Formatação</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Marcação de texto">Marcação de texto</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/outras formatações">Outras formatações</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Listas">Listas</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Links">Links</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <h1>HIERARQUIA DE TÍTULOS</h1>
    <p>Aqui vamos fazer um exercício onde iremos contruir uma página HTML replicando essa imagem em texto</p>
    <img src="{{url_for('static', filename='entendendo_portugal.png')}}" alt="Entendendo Portugal">
    <hr>
    <h1>Entendendo Portugal</h1>
    <h2>1.Introdução.................................................................... 1</h2>
        <h3>1.1 Justificação da temática.......................................................... 2</h3>
      <h3>1.2 Carácter excecional do caso de estudo................................... 3</h3>
        <h3>1.3 Perguntas de partida e objetivos de inestigação..................... 5</h3>
        <h3>1.4 Metodologia de investigação................................................. 6</h3>
       <h4>1.4.1 Etapas de investigação....................................................... 7</h4>
       <h4>1.4.2 Instrumentos de análise e fontes de informação................ 9</h4>
    </p>
    <h2>O ORDENAMENTO DO TERRITÓRIO EM PORTUGAL:
        <br>
        INSTRUMENTOS E ATORES...................................13</h2>
        <h3>2.1 Os instrumentos de gestão do território................................16</h3>
       <h4>2.1.1 Os instrumentos de planejamento territorial.....................19</h4>
       <h4>2.1.2 Os regimes territoriais especiais........................................21</h4>

</body>
</html>