<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{url_for('static', filename='meu_logo_re.ico')}}" type="image/x-icon">
    <title>Outras formatações</title>
    <style>
        a {
            text-decoration:none;
        }
    </style>
</head>
<body>
    <p>
        <a href="http://127.0.0.1:5000/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/contacts">contatos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Introdução">introdução</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Parágrafos">Parágrafos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Simbolos e emojis">Simbolos e emojis</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/static">static</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/favorito">favorito</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/títulos">títulos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Formatação">Formatação</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Marcação de texto">Marcação de texto</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Outras formatações">Outras formatações</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Listas">Listas</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Links">Links</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <h1>FORMATAÇÃO DO TEXTO</h1>
    <hr>
    <p>Existem maneiras diferentes de formatar um texto para deixar ele mais legível.</p>
    <P>Uma forma de fazer isso quando por exemplo for um código é usando a tag &lt;code&gt;code&lt;/code&gt; que deixa o texto com um espaçamento melhor para leitura de códigos</P>
    <h3>Exemplo:</h3>
    <code>>>>numero1 = 5<br>
          >>>numero2 = 2<br>
          >>>print(numero1 * numero2)<br>
          >>>10</code>
    <p>Outra forma de fazer é com a tag &lt;pre&gt;pre&lt;/pre&gt; que serve para formatar o texto de acordo com o que você colocar, considerando todos os espaços</p>
    <h3>Exemplo:</h3>
<pre>
<code>
    >>>numero1 = 5
    >>>numero2 = 2
    >>>print(numero1 * numero2)
    >>>10</code>
</pre>
    <h2>Citações</h2>
    <p>Para fazer citações podemos usar a tag &lt;q&gt;q&lt;/q&gt; de quote ( citação ) onde ela automáticamente formata o texto e coloca entre aspas</p>
    <h2>Exemplo:</h2>
    <P>Como diz o ditado <q>Cavalo dado não se olha os dentes</q></P>
    <P>Outra forma é usando citações mais longas usando a tag &lt;blockquote&gt;blockquote&lt;/blockquote&gt; em que a citação é identada</P>
    <H3>Exemplo:</H3>
    <blockquote>Esta citação é uma blockquote</blockquote>
    <h2>Abreeviações</h2>
    <P>Para criação de sites usamos principalmente as linguagens <abbr title="Hipertext Markup lenguage">HTML</abbr>e <abbr title="Cascading Style Sheets">CSS</abbr></abbr></P>
</body>
</html>