<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{url_for('static', filename='meu_logo_re.ico')}}" type="image/x-icon">
    <title>Introdução</title>
    <style>
            a {
                text-decoration: none;
    </style>
</head>
<body>
    <p>
        <a href="http://127.0.0.1:5000/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/contacts">contatos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Introdução">introdução</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Parágrafos">Parágrafos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Simbolos e emojis">Simbolos e emojis</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/static">static</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/favorito">favorito</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/títulos">títulos</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Formatação">Formatação</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Marcação de texto">Marcação de texto</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/outras formatações">Outras formatações</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Listas">Listas</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:5000/Links">Links</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <h1>Olá mundo</h1>
    <hr>
    <h1>Essa é uma tag h1</h1>
    <h2>Esse é uma tag h2</h2>
    <h3>Essa é uma tag h3</h3>
    <h4>Essa é uma tag h4</h4>
    <h5>Essa é uma tag h5</h5>
    <h6>Essa é uma tag h6</h6>
    <!-- Essa é uma tag para colocar uma linha horizontal -->
    <hr>
    <!-- Essa é uma tag de quebra de linha  -->
    <br>
    <p>Essa é uma tag de parágrafo</p>
</body>
</html>